html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; 
}


main {
    width: 1024px;
    display: flex;
    flex-direction: column; 
}


#sigma {
    width: 100%;
    height: 1300px;
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}


#milogo {
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 1300px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%); /* Initially off-screen vertically */
    transition: transform 0.5s ease; /* Smooth transition */
}



#Turner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    pointer-events: none;
}



#navbar {
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    margin-top: 20px; 
}

#navbar nav {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#navbar nav p {
    margin: 0 40px; 
    font-size: 25px;
    cursor: pointer;
    text-align: center;
}

#navbar nav p:hover {
    color: orange; 
}
#about-me-m {
    position: relative;
    width: 100%;
    max-width: 377.5px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;  
}

#about-me-m img {
    width: 100%;
    height: 800px;
    display: block;
}

#about-me {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
}
#Portfolio-I {
    position: relative;
    width: 100%;
    max-width: 130px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;  
}
#Portfolio-I img {
    width: 100%;
    height: 800px;
    display: block;
}

#Favorites-L {
     position: relative;
    width: 100%;
    max-width: 400px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;  
}

#Favorites-L img {
    width: 100%;
    height: 800px;
    display: block;
}

#Contact-O {
      position: relative;
    width: 100%;
    max-width: 400px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;  
}

#Contact-O img {
    width: 100%;
    height: 800px;
    display: block;
}