
html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    display: flex;
    justify-content: center;
    background-color: black;

}


#sigma {
    width: 1024px;
    background-color: black;
    height: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
    position: absolute;
}

#milogo {
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 1300px;
    width: 100%;
    border: solid 1px orange;

    
}

#Turner { 
    position: absolute;
    top: 50%;  
    left: 49.5%;
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 22px;
    pointer-events: none; 

   
}

#Navbar {
    width: 100%;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0; /* Add some padding for better spacing */
    position: absolute;
    top: 1400px; /* Position below the logo box */
    
}

#Navbar nav p {
    margin: 0 60px; /* Add spacing between navigation items */
    font-size: 25px; /* Adjust font size as needed */
    text-align: center;
    cursor: pointer;
}
#Navbar nav {
    display: flex; 
    align-items: center;
    justify-content: center;
}

#Navbar nav p:hover {
    color: orange; /* Add hover effect */
}