
html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    display: flex;
    justify-content: center;
    background-color: black;

}

/* Sigma styles */
#sigma {
    width: 1024px;
    background-color: black;
    height: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    border: solid 1px white;
    position: absolute;
}

#milogo {
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 600px;
    border: solid 1px orange;

    
}

#Turner { 
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 24px;
    pointer-events: none; 
}

